@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

/*頂端要設定hover  id*/
header {
    width: 100%;

    /*background-color: #0a0a23; */
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #000000;
  }

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-branding {
    padding-left: 50px;
    display: block;
    font-size: 2rem ;
}

.nav-menu {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 60px ;
}

.nav-link {
    transition: 0.3s ease-in;
    padding: 15px  10px;
}

.nav-link:hover {

    background-color: rgba(222, 222, 222, 0.524);
    height: 100%;
    color: rgb(255, 0, 200);
}

.hamberger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* for mobile */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}


.link a:hover {
    
    color:rgb(13, 255, 0);
    text-shadow: #04ff75;
    
}
.container {
    margin-top: 100px;
    background-color: rgb(240, 237, 237);
    padding-bottom: 100px;
}

.content img {
    display: block;
    width: 350px;
    max-width: 350px;
    margin: 0 auto;
}
.content h2 {
    font-size: 30px;
}
.content span{
    color:rgb(13, 255, 0);
}
.blank{
    height: 50px;
    width: 100%;
}
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px auto ;
    width: calc(100% - 250px);
    max-width: 1100px;
    min-width: 350px;
    padding-top: 20px;
}
.about h2 {
    text-align: center;
}
.blank2 {
    height: 100px;
    background-color: #fff;
}
  
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;

    padding: 20px 10px;
}
  
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    animation: ease-in 2s;
}

/*.gallery img:hover {
    box-shadow: 0 0 32px #333;
    width: 105%;
    height: 105%;
    object-fit: cover;
}
*/

/*ref   https://www.webdesigns.com.tw/css-zoom_in.asp*/
.gallery img{
    transform:scale(1,1);
    transition: all 0.6s ease-out;
}

/*彈出照片 https://www.w3schools.com/howto/howto_css_modal_images.asp*/
.gallery img:hover{
    transform:scale(1.2,1.2);
    z-index:999999;
}

.footer { 
    margin-top: 50px;
    border-top: 2px solid #000000;
    background-color: #ffffff;
    text-align: center;
    height: 100px;
    

    /*margin-bottom: -40px; */
    color:rgb(0, 0, 0);
}
.icon {
    padding-top: 20px;
    display:inline-block;
    align-content: center;
    justify-items: center;    
}
.icon-block {
    padding-left: 20px;
    width: 30px;
    
}
.faicon {
    width: 30px; 
}
.instagram {
    padding-top: 10px;
}
.copy-right p {
    
    padding-top: 0px;
    padding-bottom: 20px;
}

/* 回到最上面 */
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(145, 145, 145);
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }



@media all and (min-width: 480px) and (max-width: 768px) {
    .gallery {
        padding:20px 100px;
    }
 }

@media all and (max-width: 480px) { 
    .gallery {
        padding:20px 30px;
    }
}

@media (max-width:768px){

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 600px;
        margin: 0 auto;
    
        padding: 20px 10px;
    }
    .gallery img {
        width: 100%;
        max-width: 220px;
        object-fit: cover;
        border-radius: 10px;
        animation: ease-in 2s;
    }
    

    .nav-link{
        color: #fff;
    }
    .nav-branding {
        margin: 0 auto;
        padding: 0px;
        display: block;
        padding-left:30px ;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hamberger{
        display: block;
    
    }
    .hamberger.active .bar:nth-child(2){
        opacity: 0 ;
    }
    .hamberger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamberger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;  /* 避免選取時畫面跑掉 */
        left: -100%;
        top: -20px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 25px 0;
        padding: px auto;
        color: #fff;
    }
    .nav-menu.active {
        left: 0;
        padding-right: 43px;
    }
    .hamberger{
        transition: 0.3s ease-in;
    }
    .hamberger.active .bar{
        background-color: #fff;
    }

} 